@import "./normalize.css";

/* Global variables*/

:root {
  --color-body: #33363a;
}

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: #2584ff;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  background-color: #98dacc;
  color: var(--color-body);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  font-family: "Karla", sans-serif;
  color: #fff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Components 
---------------- */

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Header */

header {
  /* height: 3em; */
  display: flex;
  align-items: center;
  background-color: #3dbeff;
  padding: 2rem;
}

h1 {
  margin: 0;
}

/* Posts */

.post {
  margin: 3rem auto;
  max-width: 50ch;
  background-color: #fff;
  padding: 2rem;
}
