@import "./normalize.css";

/* Global variables*/

:root {
  --color-body: #394755;
}

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: #2584ff;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #98dacc;
  color: var(--color-body);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Components 
---------------- */

/* Header */

main {
  border: 10px solid #98dacc;
  margin: 0 auto;
  max-width: 50ch;
}

header {
  align-items: center;
  background-color: #3dbeff;
  display: flex;
  padding: 2rem;
}

/* Form */

form {
  align-items: flex-start;
  background-color: #ff7163;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem;
}

label {
  color: #fff;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: 2rem;
}

.input-box {
  border: none;
  color: var(--color-body);
  min-height: 5rem;
  outline: none;
  padding: 1rem 2rem;
  resize: none;
  width: 100%;
}

input.input-box {
  border-radius: 17px;
}

textarea.input-box {
  border-radius: 20px;
}

form .btn {
  align-self: center;
  margin-top: 1rem;
}

/* Button */

.btn {
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  padding: 1rem 3rem;
  white-space: nowrap;
}

.btn--primary {
  color: #fff;
  background-color: #d4060e;
}

.btn--primary:hover {
  color: #d4060e;
  background-color: #fff;
}

/* Posts */

.post {
  margin: 3rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}
